.idea/
#Task2
Task2/apz-pzpi-21-11-milennyi-ivan-task2/target
Task2/apz-pzpi-21-11-milennyi-ivan-task2/Cargo.lock
Task2/apz-pzpi-21-11-milennyi-ivan-task2/logs/
Task2/apz-pzpi-21-11-milennyi-ivan-task2/.idea
Task2/.idea
#Task3
Task3/apz-pzpi-21-11-milennyi-ivan-task3/target
Task3/apz-pzpi-21-11-milennyi-ivan-task3/Cargo.lock
Task3/apz-pzpi-21-11-milennyi-ivan-task3/.idea
Task3/.idea
#Task4
Task4/apz-pzpi-21-11-milennyi-ivan-task4/logs
Task4/apz-pzpi-21-11-milennyi-ivan-task4/*.log
Task4/apz-pzpi-21-11-milennyi-ivan-task4/npm-debug.log*
Task4/apz-pzpi-21-11-milennyi-ivan-task4/yarn-debug.log*
Task4/apz-pzpi-21-11-milennyi-ivan-task4/yarn-error.log*
Task4/apz-pzpi-21-11-milennyi-ivan-task4/pnpm-debug.log*
Task4/apz-pzpi-21-11-milennyi-ivan-task4/lerna-debug.log*
Task4/apz-pzpi-21-11-milennyi-ivan-task4/node_modules
Task4/apz-pzpi-21-11-milennyi-ivan-task4/dist
Task4/apz-pzpi-21-11-milennyi-ivan-task4/dist-ssr
Task4/apz-pzpi-21-11-milennyi-ivan-task4/*.local
Task4/apz-pzpi-21-11-milennyi-ivan-task4/.vscode/*
Task4/apz-pzpi-21-11-milennyi-ivan-task4/!.vscode/extensions.json
Task4/apz-pzpi-21-11-milennyi-ivan-task4/.idea
Task4/apz-pzpi-21-11-milennyi-ivan-task4/.DS_Store
Task4/apz-pzpi-21-11-milennyi-ivan-task4/*.suo
*Task4/apz-pzpi-21-11-milennyi-ivan-task4/.ntvs*
Task4/apz-pzpi-21-11-milennyi-ivan-task4/*.njsproj
Task4/apz-pzpi-21-11-milennyi-ivan-task4/*.sln
Task4/apz-pzpi-21-11-milennyi-ivan-task4/*.sw?