Task2/apz-pzpi-21-11-milennyi-ivan-task2/target
Task2/apz-pzpi-21-11-milennyi-ivan-task2/Cargo.lock
Task3/apz-pzpi-21-11-milennyi-ivan-task3/target
Task3/apz-pzpi-21-11-milennyi-ivan-task3/Cargo.lock
.idea/
Task2/.idea
Task3/.idea
Task2/apz-pzpi-21-11-milennyi-ivan-task2/.idea
Task3/apz-pzpi-21-11-milennyi-ivan-task3/.idea
