.container {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container:hover {
    background-color: #e0e0e0;
}

h4 {
    margin: 0.5rem 0;
}
